__pycache__/
venv/
build/
.vscode
src/warehouse_data.h
src/prediction_model_parameters.h
logs/
models/
temp/
.vscode/
figures/*
!figures/copy_to_windows.sh
.ruff_cache
src/test_c_hungarian.c
training_data/
third-party/